<?xml version="1.0" ?>
<!-- 
/**
 * This file is part of Serfe/UncacheableBlocksDetector which is released under GNU General Public License
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Layout" 
                type="Serfe\UncacheableBlockDetector\Rewrite\Magento\Framework\View\Layout"/>
</config>
